<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continente Sociológico - Max Weber</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trivia.css">

</head>

<body>
    <div class="parent">
        <div class="div1">
            <div class="sidebar">
                <div class="logo">
                    <a href="/index.html">
                        <img src="/media/logo.png" alt="Logo" class="logo-img">
                    </a>
                </div>
                <ul>
                    <li><a href="/templates/pensadores.html">Sociología de la Educación: consideraciones de los clásicos</a></li>
                    <li><a href="/templates/entrevista.html">Metodología de la Investigación: entrevista a Ruth Sautu</a></li>
                    <li><a href="/templates/encuesta.html">Temas de Investigación</a></li>
                    <li><a href="/templates/bourdieu.html">Caminando con Bourdieu: entrevista con Alicia Beatriz Gutiérrez</a></li>
                    <li><a href="/templates/feminismos.html">Feminismos</a></li>
                    <li><a href="/templates/trivia.html">Trivia Sociológica</a></li>
                    <li><a href="/templates/contacto.htmal">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="div2">
            <h1>trivia</h1>
        </div>
        <div class="div3">
            <form id="triviaForm">
                <h2>Trivia de Sociología</h2>
                <div class="pregunta">
                    <strong> <p>1. ¿Qué autor intentó tratar a las problemáticas sociales de similar manera a la que se estudian fenómenos naturales?</p></strong>
                    <label><input type="radio" name="pregunta1" value="a"> Max Weber</label><br>
                    <label><input type="radio" name="pregunta1" value="b"> Karl Marx</label><br>
                    <label><input type="radio" name="pregunta1" value="c"> Émile Durkheim</label><br>
                </div>
        
                <div class="pregunta">
                    <strong><p>2. ¿Qué autor distinguido reformuló la palabra: “campo”?</p></strong>
                    <label><input type="radio" name="pregunta2" value="a"> Talcott Parsons</label><br>
                    <label><input type="radio" name="pregunta2" value="b"> Pierre Bourdieu</label><br>
                    <label><input type="radio" name="pregunta2" value="c"> Louise Althusser</label><br>
                </div>
        
                <div class="pregunta">
                    <strong><p>3. ¿Quién realizó esta conceptualización: “Las clases sociales significan para el marxismo en único y mismo movimiento, contradicciones y luchas de clases”?</p></strong>
                    <label><input type="radio" name="pregunta3" value="a"> Karl Marx</label><br>
                    <label><input type="radio" name="pregunta3" value="b"> Erik O. Wright</label><br>
                    <label><input type="radio" name="pregunta3" value="c"> Nicos Poulantzas</label><br>
                </div>
        
                <input type="submit" value="Verificar Respuestas">
            </form>
        
            <div id="resultado"></div>
        </div>
        
    </div>
    <script src="/js/trivia.js"></script>

</body>

</html>
